<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>WeHareCare</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="../static/img/logo2.png">
          </a>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/faq">FAQ</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container">
          <img src="images/heading-img.png" alt="">
          <h2>
            About Us
          </h2>
        </div>
        <p>
          WeHareCare is an assistant for your bunnies, diseases from RHDV to Myxomatosis included. it is only for highly infectious diseases and not for common cold. Symptoms may varies and may be wrong because it is just AI and not a veteranians.
        </p>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- animal section -->

  <section class="animal_section layout_padding">
    <div class="container">
      <div class="animal_container">

        <div class="box b2">
          <div class="img-box">
            <img src="images/bird.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Muhammad Aziz
            </h5>
            <p>
              UNIVERSITAS MUHAMMADIYAH SORONG
              NIM 202255202017
            </p>
          </div>
        </div>
        <div class="box b1">
          <div class="img-box">

          </div>
          <div class="detail-box">
            <h5>

            </h5>
            <p>
          
            </p>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="images/cat.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Devid Pratama Sahar
            </h5>
            <p>
              UNIVERSITAS MUHAMMADIYAH SORONG
              NIM 202255202113
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- end animal section -->
  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>

</body>

</html>